ion-accordion-group {
  margin-top: 16px;
}

ion-icon {
  margin-right: 8px;
}

input[type='file'] {
  margin-top: 10px;
}

ion-icon.folder-icon {
  color: var(--folder-icon-color);
}


ion-icon.file-icon {
  color: var(--file-icon-color);
}
