ion-menu {
  position: fixed; /* Fixes the menu to the top-left corner */
  top: 0;
  left: 0;
  height: 100%; /* Ensures it spans the full height of the viewport */
  z-index: 100; /* Keeps it above other elements */
}

.file-system-content {
  --padding-top: 56px; /* Adjust based on your header height */
}


#tab1-content {
  .content-wrapper {
    padding-top: 16px; /* Adjust this value as needed */
  }
}


.loading-container {
  text-align: center;
  margin-top: 2rem;

  p {
    margin-top: 1rem;
    color: #666;
  }
}

.empty-workspace {
  text-align: center;
  padding: 2rem;

  h2 {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #444;
  }

  p {
    color: #666;
    font-size: 1rem;
  }

  .icon-large {
    font-size: 4rem;
    color: #488aff;
    margin-bottom: 1rem;
  }
}
