<div id="tab1-content">
  <app-shared-header [title]="'Workspace'"></app-shared-header>

  <!-- Page Content -->
  <ion-content [fullscreen]="true" class="ion-padding">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Workspace</ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- Loading Indicator -->
    <div *ngIf="loading" class="loading-container">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Loading...</p>
    </div>

    <!-- Content -->
    <div *ngIf="!loading">
      <!-- No Files: Show Create Workspace Button -->
      <div *ngIf="files.length === 0" class="empty-workspace">
        <ion-icon name="folder-open" class="icon-large"></ion-icon>
        <h2>No Workspace Found</h2>
        <p>Create your first workspace to get started.</p>
        <ion-button color="primary" expand="block" (click)="createWorkspace()">
          Create Workspace
        </ion-button>
      </div>

      <!-- File List -->
      <div *ngIf="files.length > 0">
        <app-file-browser [files]="files"></app-file-browser>
      </div>
    </div>
  </ion-content>
</div>
