<div id="tab1-content">
    <app-shared-header [title]="'Workspace'"></app-shared-header>

    <!-- Page Content -->
    <ion-content [fullscreen]="true" class="ion-padding">
        <!-- Condensed Header -->
        <ion-header collapse="condense">
            <ion-toolbar>
                <ion-title size="large">Workspace</ion-title>
            </ion-toolbar>
        </ion-header>

        <!-- File System Component -->
        <app-file-browser [files]="files"></app-file-browser>
    </ion-content>
</div>
